:root{
    --cor-p1: hsl(356, 100%, 66%);
    --cor-p2: hsl(355, 100%, 74%);
    --cor-p3: hsl(208, 49%, 24%);

    --c-1: hsl(0, 0%, 100%);
    --c-2: hsl(240, 2%, 79%);
    --c-3: hsl(207, 13%, 34%);
    --c-4: hsl(240, 10%, 16%);

    --bg-1: hsl(237, 17%, 21%);
    --bg-2: hsl(237, 23%, 32%);
}

.c-1{
    color: var(--c-1);
}
.c-2{
    color: var(--c-2);
}
.c-3{
    color: var(--c-3);
}
.c-4{
    color: var(--c-4);
}

