/* Overpass:300;600& Ubuntu:@400;500;700 */

.font-button{
    font: 700 18px/1.4 'Ubuntu', sans-serif;
}

.font-s{
    font: 400 16px/1.4 'Ubuntu', sans-serif;
}

.font-0{
    font: 300 1rem/1.6 'Overpass', sans-serif;
}

.font-1-n,
.font-1{
    font: 400 18px/1.5 'Overpasss', sans-serif;
}

.font-1{
    font-weight: 500;
    font-family: 'Ubuntu';
}

.font-2{
    font: 500 20px/1.4 'Overpass', sans-serif;
}

.font-3{
    font: 600 28px/1.4 'Overpass', sans-serif;
}

.font-4{
    font: 600 36px/1.4 'Overpass', sans-serif;
}


.font-5{
    font: 600 60px/1.4 'Overpass', sans-serif;
}

@media (max-width: 600px){
    .font-5{
        font-size: 30px;
    }

    .font-4{
        font-size: 30px;
    }

    .font-2{
        font-size: 18px;
    }
}